<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="MyConStr"
             connectionString="Data Source=DESKTOP-0L082C2\SQLEXPRESS;Initial Catalog=addressbook;Integrated Security=True"
             providerName="System.Data.SqlClient" />
	</connectionStrings>
</configuration>
